.myblogs table {
    width: 100%;
}

.myblogs table tr {
    text-align: center;
    padding-bottom: 4px;
    border-bottom: solid 1px #eee;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ccc;
}

tr:first-child { 
    color: #f6931d;
    text-align: center;
}; 

#blogs-landing-page {
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 40px;
    background-color: #005E5A;
}