.myblogs table {
    width: 100%;
}

.myblogs table tr {
    text-align: center;
    padding-bottom: 4px;
    border-bottom: solid 1px #eee;
}

#blogs-landing-page {
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 40px;
    background-color: #005E5A;
}